:root {
    --primary: #fafefe;
    --bg: #f5ffff;
    --sec: #464646;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container {
    background-color: var(--primary);
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.4);
}

span {
    color: var(--sec);
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

header {
    color: var(--sec);
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0;

}

.input-field {
    display: flex;
    flex-direction: column;
}

.input {
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: var(--sec);
    padding: 0 0 0 42px;
    background: rgba(8, 8, 8, 0.1);
    ;
}

.box .container .input-field i {
    position: relative;
    top: -31px;
    left: 17px;
    color: var(--sec);
}

::-webkit-input-placeholder {
    color: var(--sec);
}

.submit {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background-color: rgba(8, 8, 8, 0.1);
    cursor: pointer;
    transition: .3s;
}

.submit:hover {
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
}

.bottom a:hover {
    text-decoration: underline;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--sec);
    margin-top: 10px;
}

.left {
    display: flex;
}

label a {
    color: var(--sec);
    font-size: medium;
    text-decoration: none;
}